.TodoItem {
    /*transform: scale(1);*/
    /*transition: .4s transform;*/
}

.TodoItem:hover {
    /*transform: scale(.9);*/
}

.TodoItem:hover .Icon-delete{
    display: block;
}

.TodoItem:hover .Icon-edit{
    display: block;
}

.TodoItem-p {
    margin: 24px 0 24px 24px;
    width: calc(100% - 120px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

.TodoItem-p--complete {
    text-decoration: line-through;
}

.Icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 24px;
    font-weight: bold;
    color: rgba(19, 19, 40, 0.49);
}

.Icon-check {
    position: absolute;
    left: 12px;
    width: 30px;
}

.Icon-check--active {
    color: #4caf50;
}

.Icon-delete {
    position: absolute;
    top: 10px;
    right: 5px;
    height: 25px;
    width: 25px;
    display: none;
    color: #AC1754;
    transform: scale(1);
    transition: .4s transform;
}

.Icon-delete:hover{
    transform: scale(.9);
}

.Icon-edit {
    position: absolute;
    top: 10px;
    right: 40px;
    display: none;
    color: #4D55CC;
    height: 25px;
    width: 25px;
    font-size: 16px;
    transform: scale(1);
    transition: .4s transform;
}

.Icon-edit:hover{
    transform: scale(.9);
}